{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'searchdb/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'searchdb/css/simple-v1.min.css'%}">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="home"><a href="#">Home</a></div>
        <div class="about"><a href="#">Login</a></div>
    </div>
   
{% block body %}


{% endblock body %}


  <footer> Muhammad fikry </footer>

</body>

</html>