{% extends 'base.html' %}

{% block body %}
       
            <div style="margin-top: 3%;">
               الأسم : {{students}}
            </div>
            <div>
                رقم الجلوس : {{students.seatNumber}}
            </div>
            <div style="text-align:center">النسبة: {{percnt}} %</div>
           
                <table>
                    <tr>
                        <th>المادة</th>
                        <th>الدرجة</th>
                    </tr>
                    <tr>
                        <td>اللغة العربية</td>
                        <td>{{students.arabic}}</td>
                    </tr>
                    <tr>
                        <td>الرياضيات</td>
                        <td>{{students.math}}</td>
                    </tr>
                    <tr>
                        <td>اللغة الانجليزية</td>
                        <td>{{students.english}}</td>
                    </tr>
                    <tr>
                        <td>الدراسات</td>
                        <td>{{students.social}}</td>
                    </tr>
                    <tr>
                        <td>العلوم</td>
                        <td>{{students.sience}}</td>
                    </tr>
                    <tr>
                        <td>التربية الاسلامية</td>
                        <td>{{students.islamic}}</td>
                    </tr>
                    <tr>
                        <td>انجليزي إضافي</td>
                        <td>{{students.olenglish}}</td>
                    </tr>
                    <tr>
                        <td>الحاسب الآلي</td>
                        <td>{{students.computer}}</td>
                    </tr>
                    <tr>
                        <td>التربية الفنية</td>
                        <td>{{students.art}}</td>
                    </tr>
                    <tr>
                        <td>المجموع الكلي</td>
                        <td>{{total}}</td>
                    </tr>

                </table>
               
         
        {% endblock body %}